header.anyRandom,
header.choose {
    nav {
        background-color: #1e2939;
        padding: 15px;
        line-height: 30px;

        .breadcrumb {
            margin-bottom: 0;

        }

        .breadcrumb-item+.breadcrumb-item::before {
            content: " > ";
            color: white;
        }

        .breadcrumb-item {
            color: white !important;
        }

        .breadcrumb-item.active {

            span,
            a {
                color: white !important;
            }
        }
    }
}