<!doctype html>
<html lang="en">

<head>
    <title>Random from given string</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="icon" type="image/x-icon" sizes="16x16" href="../icons/lucky-16x16.ico">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="../icons/lucky-32x32.ico">
    <link rel="icon" type="image/x-icon" sizes="48x48" href="../icons/lucky-48x48.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../icons/lucky-180x180.ico">
    <!-- Tailwind Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- Flowbite stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>

<body>
    <!-- Flobite Library (Layout component build on Tailwindcss) -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <!-- Toastify Library -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="./../js/anyrandom.js"></script>
</body>

</html>